@using ServiceContracts
@model IEnumerable<string>
@inject ICitiesService citiesServiceInView

@{
    ViewBag.Title = "Home";
}

<h1>Cities</h1>

@{
    List<string> citiesFromServiceInView = citiesServiceInView.GetCities();
}

<ul class="list">
    @foreach (string city in citiesFromServiceInView)
    {
        <li>@city</li>
    }
</ul>

<div>@ViewBag.InstanceId_Cities_1</div>
<div>@ViewBag.InstanceId_Cities_2</div>
<div>@ViewBag.InstanceId_Cities_3</div>
<div>@citiesServiceInView.ServiceInstanceId</div>

<div class="box">
    @ViewBag.InstanceId_Cities_InScope
</div>