@model StocksApp.Models.Stock;

@{
    ViewBag.Title = "Home";
}

<div class="box trading-panel">
    <div class="flex trading-panel-flex">
        <div id="stock-price-panel">
            <div class="stock">
                <h1 class="stock-title">@Model.StockSymbolName</h1>
                <table>
                    <tbody>
                    <tr>
                        <td>Current:</td>
                        <th>
                            <small>$</small>
                            <span class="price">@Model.CurrentPrice.ToString()</span>
                        </th>
                    </tr>
                    <tr>
                        <td>High:</td>
                        <th>
                            <small>$</small>
                            <span class="price">@Model.HighestPrice.ToString()</span>
                        </th>
                    </tr>
                    <tr>
                        <td>Lowest:</td>
                        <th>
                            <small>$</small>
                            <span class="price">@Model.LowestPrice.ToString()</span>
                        </th>
                    </tr>
                    <tr>
                        <td>Open:</td>
                        <th>
                            <small>$</small>
                            <span class="price">@Model.OpenPrice.ToString()</span>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>